   table {

    width: 600px; 
    border: 1px solid black; 
    border-bottom: none; 
   }
   
   tr td:first-of-type { 
   	background-color: blue;
   }
   
   td, th {
    padding: 3px; 
   }
   th {
    text-align: left; 
    background: grey; 
    color: black;
   }
   th:nth-child(3n+3) {
   	border-right: 1px solid black;
   }

    td:nth-child(3n+3) {
   	border-right: 1px solid black;
   }
    td:nth-child(3n+4){
   	background: blue;
   }

   td {
    border-bottom: 1px solid black; 
   }